{% extends 'base.html' %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/deactivate-confirm.css' %}">
{% endblock %}

{% block content %}
    <div class="warning__container">
        <div class="primary__text">
            WARNING!
        </div>
        <div class="secondary__text">
            Account deactivation cannot be undone!
        </div>
        <div class="buttons">
            <a href="{{ request.META.HTTP_REFERER }}">Go back</a>
            <a href="{% url 'deactivate-account' %}">Deactivate</a>
        </div>
    </div>
{% endblock %}