{% extends 'base.html' %}
{% load static %}
{% load car_tags %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="profile__container">
        <div class="profile__picture__user__data">
            <div class="profile__picture">
                {% if request.user.profile_picture %}
                    <img src="{{ request.user.profile_picture.url }}" alt="">
                {% else %}
                    <img src="{% static 'images/default_profile_picture.png' %}" alt="">
                {% endif %}
            </div>
            <div class="user__data">
                <div class="properties">
                    <div>Username</div>
                    <div>First name</div>
                    <div>Last name</div>
                    <div>Email</div>
                    <div>Location</div>
                    <div>Phone number</div>
                </div>
                <div class="values">
                    <div>{{ request.user.username }}</div>
                    <div>{{ request.user.first_name | default:'-' }}</div>
                    <div>{{ request.user.last_name | default:'-' }}</div>
                    <div>{{ request.user.email | default:'-' }}</div>
                    <div>{{ request.user.location | default:'-' }}</div>
                    <div>
                        {% if request.user.phone_number %}
                            {{ request.user.phone_number | separate_digits }}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="update__profile__form__statistics">
            <form class="update__profile__form" action="{% url 'profile' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="first__name">
                        {% include 'components/label.html' with text='First&nbsp;name' %}
                        {{ form.first_name }}
                    </div>
                    <div class="last__name">
                        {% include 'components/label.html' with text='Last&nbsp;name' %}
                        {{ form.last_name }}
                    </div>
                </div>

                <div class="row">
                    <div class="email">
                        {% include 'components/label.html' with text='Email' %}
                        {{ form.email }}
                    </div>
                    <div class="location">
                        {% include 'components/label.html' with text='Location' %}
                        {{ form.location }}
                    </div>
                </div>

                <div class="row">
                    <div class="phone__number">
                        {% include 'components/label.html' with text='Phone&nbsp;number' %}
                        {{ form.phone_number }}
                    </div>
                    <div class="picture">
                        {% include 'components/label.html' with text='Profile&nbsp;picture' %}
                        <input type="file" name="profile_picture" accept="image/*" id="id_profile_picture">
                    </div>
                </div>

                <div class="error__container">
                    {% include 'components/error-logger.html' %}
                </div>

                <div class="row">
                    <button type="submit">Update</button>
                    <a class="deactivate" href="{% url 'deactivate-confirm' %}">Deactivate</a>
                </div>
            </form>

            <div class="statistics">
                <div class="statistic">
                    <div class="text">Posts</div>
                    <div class="value">{{ posts }}</div>
                </div>
                <div class="statistic">
                    <div class="text">Total price of your cars</div>
                    <div class="value">€{{ total_price | separate_thousands }}</div>
                </div>
                <div class="statistic">
                    <div class="text">Total views of your posts</div>
                    <div class="value">{{ total_views }}</div>
                </div>
                <div class="statistic">
                    <div class="text">Member since</div>
                    <div class="value">{{ request.user.date_joined | date:"F Y" }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}