* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.car__details__container {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 25px;
    margin-left: 16px;
}

.image__swiper__base__details {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.car__image__swiper {
    width: 65%;
    height: 100%;
}

.car__base__details {
    width: 33%;
    height: 100%;
    background-color: var(--grey);
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.car__base__details ~ div {
    width: 100%;
}

.car__brand__model,
.car__price__container {
    font-size: 28px;
    color: var(--lightergrey);
}

.car__brand__model {
    height: 45px;
    font-weight: 800;
}

.car__price__container {
    height: 65px;
    flex-direction: column;
}

.car__price,
.car__posted__on {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car__posted__on {
    font-size: 20px;
}

.car__price__container p {
    font-weight: 600;
}

.car__price__container__label {
    width: 145px;
    height: 100%;
}

.car__manufacturer,
.car__dealer {
    height: 75px;
    color: var(--lightergrey);
}

.car__manufacturer img,
.car__dealer img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}


.car__brand__model,
.car__price__container,
.car__price__container__label,
.car__manufacturer,
.car__dealer,
.manufacturer__name,
.car__views,
.car__dealer__phone__number,
.car__dealer__phone__number div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car__dealer__phone__number {
    height: 60px;
}

.car__dealer__phone__number div {
    width: 60%;
    height: 50px;
    color: var(--lightergrey);
    font-weight: 500;
    background-color: var(--red);
    border-radius: 25px;
    font-size: 17px;
    cursor: default;
}

.car__dealer__phone__number div i {
    margin-right: 10px;
}

.dealer__name,
.manufacturer__name {
    font-weight: 500;
    font-size: 22px;
    margin-left: 10px;
}

.car__views {
    height: 50px;
    width: 100%;
    color: var(--lightergrey);
}

.counter {
    font-weight: 800;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--red);
}

/* BOTTOM PART */

.car__details__and__features {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.car__details,
.car__features {
    height: 100%;
    background-color: var(--grey);
    border-radius: 8px;
}

.car__details {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.car__features {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--lightergrey);
}

.car__features ul {
    width: 85%;
    columns: 2;
    list-style-type: square;
    margin-left: 62px;
}

.car__features ul li {
    font-size: 14px;
}

.car__features ul li:not(:last-child) {
    margin-bottom: 9px;
}

.car__features ul li::marker {
    color: var(--red);
}

/* car__details columns */


.car__brand__model__container {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    color: var(--lightergrey);
    font-size: 36px;
    font-weight: 800;
    padding-top: 10px;
}

.car__details__columns {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}

.column__first,
.column__second {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column__first {
    width: 31%;
}

.column__second {
    width: 28%;
}

/* Labels */

.column__second .labels,
.column__first .labels {
    height: 100%;
    color: var(--lightergrey);
}

.column__first .labels {
    width: 75%;
}

.column__second .labels {
    width: 54%;
}

.column__second .labels div,
.column__first .labels div {
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
}

/* Values */

.column__first .values,
.column__second .values {
    height: 100%;
    color: var(--lightergrey);
    font-weight: 700;
}

.column__first .values {
    width: 34%;
}

.column__second .values {
    width: 60%;
}


.column__second .values div,
.column__first .values div {
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
}

.divider {
    width: 1px;
    background-color: var(--lightergrey);
    height: 95%;
    margin-left: 50px;
    margin-right: 58px;
}

/* IMAGE SWIPER */

.swiper-slide img,
.swiper-slide,
.swiper {
    width: 874px;
    height: 491px;
}

.swiper-slide img {
    border-radius: 8px;
    object-fit: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #fff;
}

.swiper-pagination-bullet {
    background-color: #fff !important;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-bottom: 4px;
}