{% extends 'base.html' %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/car-create.css' %}">
{% endblock %}

{% block content %}
    <form class="form" action="{% url 'car-create' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="car__create__inputs">
            {% include 'components/car-create-inputs.html' %}
            {% include 'components/error-logger.html' %}
        </div>
        <div class="car__create__features">
            {% include 'components/car-create-features.html' %}
            <div class="submit__button">
                <button type="submit">
                    Create car
                </button>
            </div>
        </div>
    </form>
{% endblock %}