{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/icon.png' %}">
    <script src="https://kit.fontawesome.com/b53851d4fb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extrastyle %}
    {% endblock %}
    <title>CarZone</title>
</head>
<body>
<div class="sidebar__container">
    {% include 'components/sidebar.html' %}
</div>
<div class="page__content">
    {% block content %}
    {% endblock %}
</div>
<script src="{% static 'js/clear_kwargs.js' %}"></script>
<script src="{% static 'js/hide_errors.js' %}"></script>
</body>
</html>