<div class="car__card">
    <div class="car__image">
        <img src="{{ car.images.first.image.url }}" alt="">
    </div>
    <div class="car__brand">{{ car.brand }}</div>
    <div class="car__model">{{ car.model }}</div>
    <div class="car__posted_on">{{ car.posted_on  | date:"d F Y" }}</div>
    <div class="buttons__edit__delete">
        <div>
            <a href="" title="Edit car">
                <i class="fa-solid fa-wrench"></i>
            </a>
        </div>

        <div>
            <a href="{% url 'car-remove-confirm' pk=car.pk %}" title="Remove car">
                <i class="fa-solid fa-trash-can"></i>
            </a>
        </div>
        
        <div>
            <a href="{% url 'car-details' pk=car.pk %}" title="View post">
                <i class="fa-solid fa-car-side"></i>
            </a>
        </div>
    </div>
</div>