<div class="inputs">
    <div class="input__column__first">
        <div class="input__container">
            {% include 'components/label.html' with text='Brand' %}
            {{ form.brand }}
        </div>
        <div class="input__container">
            {% include 'components/label.html' with text='Model' %}
            {{ form.model }}
        </div>
        <div class="input__container">
            {% include 'components/label.html' with text='Manufacture&nbsp;year' %}
            {{ form.manufacture_year }}
        </div>
        <div class="input__container">
            {% include 'components/label.html' with text='Transmission&nbsp;type' %}
            {{ form.transmission_type }}
        </div>
        <div class="input__container">
            {% include 'components/label.html' with text='Horsepower' %}
            {{ form.horsepower }}
        </div>
        <div class="input__container">
            {% include 'components/label.html' with text='Capacity' %}
            {{ form.capacity }}
        </div>
        <div class="input__container">
            {% include 'components/label.html' with text='Euro&nbsp;standard' %}
            {{ form.euro_standard }}
        </div>
    </div>
    <div class="input__column__second">
        <div class="input__container">
            {% include 'components/label.html' with text='Mileage' %}
            {{ form.mileage }}
        </div>
        <div class="input__container">
            {% include 'components/label.html' with text='Body&nbsp;type' %}
            {{ form.body_type }}
        </div>
        <div class="input__container">
            {% include 'components/label.html' with text='Fuel&nbsp;type' %}
            {{ form.fuel_type }}
        </div>
        <div class="input__container">
            {% include 'components/label.html' with text='Color' %}
            {{ form.color }}
        </div>
        <div class="input__container">
            {% include 'components/label.html' with text='Price' %}
            {{ form.price }}
        </div>
        <div class="input__container">
            {% include 'components/label.html' with text='Warranty' %}
            {{ form.warranty }}
        </div>
        <div class="submit__button">
            <button type="submit">Update car</button>
        </div>
    </div>
</div>