<div class="sidebar">
    <div class="button__user" title="{{ request.user.username }}'s profile">
        <a href="{% url 'profile' %}">
            <i class="fa-solid fa-user"></i>
        </a>
    </div>
    <div class="button__catalogue">
        <a href="{% url 'catalogue' %}" title="Catalogue">
            <i class="fa-solid fa-layer-group"></i>
        </a>
    </div>
    <div class="button__add__car">
        <a href="{% url 'car_create' %}" title="Add a car">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
    <div class="button__posts" title="Your posts">
        <a href="">
            <i class="fa-solid fa-car"></i>
        </a>
    </div>
    <div class="button__logout" title="Logout">
        <a href="{% url 'logout' %}">
            <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
        </a>
    </div>
</div>